<style>
    @import url('https://fonts.googleapis.com/css2?family=Chewy&family=DynaPuff:wght@400..700&family=Monoton&display=swap');
    </style>
<main class="flex-column-center">
    <table>
        <thead>
            <td>Tiempo</td>
            <td>Precio</td>
            <td>Acciones</td>
        </thead>
        <tbody>
           @for (tarifa of this.dataTarifaServices.tarifas; track $index) {
                <tr>
                    <td>
                        {{ tarifa.descripcion }}
                    </td>
                    <td>
                        {{ tarifa.valor }}
                    </td>
                    <td>
                        <button (click)="UpdatePrice(tarifa.id)">EDITAR</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>