 @use './../../../../public/styles/tablas.scss';

h1{
    color: red;
}
button{
    cursor: pointer !important;
}
#agregar-cochera{
    margin: auto;
}
.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
.button-colorido{
    background-color:rgba(192, 173, 50, 0.744);
    width: 20vh;
    height: 5vh;
    border-radius: 10px;
    padding: 10px;
    margin: 8px 30px;
}
